# Dependencies
node_modules/

# Private stuff
client/.env
contracts/.env

# Client
client/build/
client/node_modules/
client/src/gamedata/deploy.local.json
.env

# Local Netlify folder
.netlify

# Foundry
contracts/out/
contracts/lib/
