# Dependencies
node_modules/

# Private stuff
client/.env
contracts/.env

# Contracts
contracts/build/
contracts/cache/
contracts/node_modules/
contracts/.openzeppelin/

# Client
client/build/
client/node_modules/
client/src/gamedata/deploy.local.json
.env

# Local Netlify folder
.netlify

# Foundry
contracts/out
contracts/lib
