@import "./code.css";
@import "./page.css";
@import "./level.css";
@import "./hubspot.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700,400italic,700italic);

/* General */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  background-color: #eddfd6;
}

.logo {
  width: 140%;
  color: black;
  cursor: pointer;
  margin-left: -28%;
}

.lines{
  margin-bottom: 4%;
  margin-top: 2%;
}

.main,
.home,
.navi-button,
.other {
  font-family: "helvetica", sans-serif;
  font-weight: 400;
  font-size: 16 px;
  color: white;
  text-decoration: none;
}

hr {
  margin-top: 10px;
}

.top{
  border:none;
  border-top:1px solid black;
  height:1px;
  width: 90%;
  align-items: center;
  padding: 1px 0% 0% 0% ;
}

h2 {
  font-size: 15px;
  padding: 1% 10% 0% 10%;
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  line-height: 1.5;
}

button {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 4px 9px;
  color: #eddfd6;
  font-weight: bold;
}

button :hover{
  background-color: #eddfd6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 0px 50px;
  margin-top: 1%;
  width: 95%;
  margin-right: 2%;
}

.hiring {
  color: #eddfd6;
}

nav li {
  list-style: none;
}

.nav-links {
  display: inline-block;
  padding: 0px;
}

.nav-links  a {
  color:black;
  text-decoration: none;
  padding-right: 5px;
  font-family: helvetica, sans-serif;
}

.nav-links .icon-buttons {
  text-decoration: none;
  font-family: helvetica, sans-serif;
}

.dropdown {
  float: right;
  right: 70px;
  overflow: hidden;
  font-size: x-large;
  position: absolute;
}

.dropdown-content {
  display: none;
  background-color: black;
  min-width: 100px;
  border:solid 15px black;
  border-radius: 8px;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .icon-buttons {
  position: relative;
  padding-left: 89%;
}

.dropdown-content a {
  float: none;
  background-color: #eddfd6;
  color:black;
  border-radius: 4px;
  padding: 6px 8px;
  margin-bottom: 5%;
  text-decoration: none;
  font-style: bold;
  display: block;
  font-size: 12px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
  color: #eddfd6;
}

.dropdown-content .contr {
  background-color: black;
  color: #eddfd6;
  border: #eddfd6 solid 1px;
  border-radius: 4px;
  font-weight: bold;
}

.Ethernaut {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10% 0% 5% 0%;
}

.arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
}

.titles ul{
  position: relative;
  text-align: center;
  align-items:center;
  padding: 0px 0px;
  margin-top: 1%;
}

.game {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding-left: 10%;
    padding-right: 50px;
    margin-top: 4%;
}

.content_img{
  word-wrap: break-word;
  position: relative;
  width: 120px;
  height: 120px;
  float: center;
}

.content_img div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  padding-top: 10%;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 120px;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}

.content_img img{
  width: 120px;
  height: 120px;
  border: black solid 1px;
}

.content_img:hover{
  cursor: pointer;
}

.content_img:hover div{
  width: 120px;
  visibility: visible;
  opacity: 100; 
}

.Description {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 0% 5% 0%;
}

.row2{
  display: inline-flex;
  margin-left: 4%;
  align-items:center;
  padding-left: 50px;
  padding-right: 50px;
}


footer{
  width: 105%;
  margin-left: -5%;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  height: 25px;
  background-color: black;
  color: #eddfd6;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 5px;
}

/* Boxes */

.boxes{
  padding: 15px 25px 15px 25px;
  border: 2px solid black;
  margin: -1% 5% 3% 5%;
  width: 90%;
  text-align: left;
}

.boxes section {
  padding: 15px 25px 15px 25px;
  border: 1px;
  border-style: solid;
  border-color:black;
  margin: 10px;
  background-color: #eddfd6;
}

.boxes .emptySection {
  background-color: #eddfd6;
  margin: 0;
  border: 0;
  border-style: none;
}

.boxes h3 {
  text-align: center;
}


@media only screen and (min-width: 1600px)

{
  .arrow {
    padding-bottom: 1%;
  }

  .dropdown {
    right: 80px;
  }
}

@media only screen and (min-width: 2000px)

{
  .dropdown {
    right: 90px;
  }
}

@media only screen and (max-width: 1300px)

{
  header {
    width: 96%;
  }

  .arrow {
    padding-bottom: 1%;
  }

  .dropdown {
    right: 55px;
  }
}

@media only screen and (max-width: 1000px)

{

  .dropdown {
    right: 70px;
    z-index: 1;
  }

  header {
    width: 90%;
  }

  .arrow {
    padding-bottom: 1%;
  }
}

@media only screen and (max-width: 750px)

{

  .dropdown {
    right: 60px;
    z-index: 1;
  }
}