@import "./code.css";
@import "./page.css";
@import "./level.css";
@import "./hubspot.css";
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700,400italic,700italic);

/* General */

:root {
  --pink: #eddfd6;
  --black: #222222;
  --primary-color: var(--pink);
  --secondary-color: var(--black);
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
  border-radius: 8px 0px 0px 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 8px 0px 0px 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
  border-radius: 8px 0px 0px 8px;
}

.unfitScreenSize {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 14px;
}

ul {
  padding-left: 0;
}

.logo {
  color: var(--secondary-color);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.logo-container {
  padding-left: 4em;
}

.lines {
  margin-bottom: 4%;
  margin-top: 2%;
}

.footer {
  background-color: var(--secondary-color);
}

.main,
.home,
.navi-button,
.other {
  font-family: "helvetica", sans-serif;
  font-weight: 400;
  font-size: 16 px;
  color: var(--primary-color);
  text-decoration: none;
}

hr {
  margin-top: 10px;
}

.top {
  border: none;
  border-top: 1px solid var(--secondary-color);
  height: 1px;
  align-items: center;
}

h2 {
  font-size: 14px;
  padding: 1% 10% 0% 10%;
  color: var(--secondary-color);
  font-family: Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
}

button {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  padding: 4px 9px;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

.button-actions {
  margin-left: 1%;
  font-size: larger;
}

button :hover {
  background-color: var(--primary-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.header-ul {
  padding: 4px 0px;
}

.hiring {
  color: var(--primary-color);
}

nav li {
  list-style: none;
}

.nav-links {
  display: inline-block;
  padding: 4px;
}

.nav-links a {
  color: var(--secondary-color);
  text-decoration: none;
  padding-right: 5px;
  font-family: helvetica, sans-serif;
}

.icon-buttons {
  height: 35px;
  font-size: larger;
  margin-top: -7px;
}

.dropdown {
  float: right;
  font-size: x-large;
  padding: 4px;
  list-style-type: none;
}

.dropdown-content {
  display: none;
  background-color: var(--secondary-color);
  width: 11em;
  border: solid 15px var(--secondary-color);
  border-radius: 6px;
  position: absolute;
  margin-left: -10em;
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  float: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  padding: 6px 8px;
  margin-bottom: 5%;
  text-decoration: none;
  font-style: bold;
  display: block;
  font-size: 12px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 6px;
}

.dropdown-content .contr {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: var(--primary-color) solid 1px;
  border-radius: 6px;
  font-weight: bold;
}

.the-ethernaut {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.arrow {
  fill: var(--secondary-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3%;
}

.titles ul {
  position: relative;
  text-align: center;
  align-items: center;
  padding: 0px 0px;
  margin-top: 1%;
}

.game {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 2em;
}

.content_img {
  word-wrap: break-word;
  position: relative;
  width: 80px;
  height: 80px;
  float: center;
  margin-left: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.level-tile {
  border-radius: 6px;
}

.source-code {
  margin-bottom: 2em;
  width: 800px;
}

.content_img div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 1px;
  right: 1px;
  background: var(--secondary-color);
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  height: 78px;
  word-break: break-all;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.content_img img {
  width: 80px;
  height: 80px;
}

.content_img:hover {
  cursor: pointer;
}

.content_img:hover div {
  width: 78px;
  visibility: visible;
  opacity: 100;
  border-radius: 6px;
}

.Description {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 0% 5% 0%;
}

.row2 {
  display: inline-flex;
  margin-left: 4%;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.author-section-border{
  border: none !important;
}
.author-section{
  width: 60%;
  margin-left: 20%;

  padding: 20px 20px 20px 20px;
  border: 2px solid var(--secondary-color);

  margin-bottom: 2em;
  text-align: left;
  border-radius: 6px;
}
footer {
  width: 100vw;
  position: fixed;
  left: 0;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  height: 25px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding: 5px;
}

.hljs-override {
  background: var(--secondary-color);
}

/* Boxes */

.boxes {
  padding: 20px 20px 20px 20px;
  border: 2px solid var(--secondary-color);
  width: 800px;

  margin-bottom: 2em;
  text-align: left;
  border-radius: 6px;
}

.boxes-code {
  padding: 15px 0px 15px 0px;
}

.boxes section {
  text-align: left;
}

.boxes .emptySection {
  background-color: var(--primary-color);
  margin: 0;
  border: 0;
  border-style: none;
}

.boxes h3 {
  text-align: left;
  font-weight: bolder;
}

.toggle {
  margin-right: 10px;
  appearance: none;
  vertical-align: middle;
  width: 40px;
  height: 25px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-color);
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "";
  display: block;
  position: relative;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  left: 2px;
  top: 2.5px;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked:before {
  left: 16px;
}

.progress-bar-wrapper {
  display: none;
}

@media only screen and (max-width: 956px) {
  .toggle {
    display: none;
  }

  .logo-container {
    padding-left: 3em;
  }
}


@media only screen and (max-width: 885px) {
  .dropdown {
    display: none;
  }

  .toggle {
    display: none;
  }

  .help-button {
    display: none;
  }

  .hiring-button {
    display: none;
  }

  .logo-container {
    padding-left: 0;
  }

  .progress-bar-wrapper {
    display: none;
  }
}
