/* Level selector */

  
.level-selector-nav {
    margin-left: 20%;
    width: 60%;
}

.dropdown-menu-bar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px 30px;
    margin-top: 1%;
    overflow: hidden;
    background-color: var(--primary-color);
    border: solid var(--secondary-color) 2px;
    border-radius: 6px;
    font-style: none;
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
}

.button-sequence {
    margin-bottom: 2%;
    text-align: center;
}

.level-title {
    margin-left: 43%;
}

.dropdown-menu-bar p{
    height: 10px;
}

.dropdown-menu-bar-button{
    overflow: hidden;
}

.level-selector-nav a{
    font-style: none;
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.level-selector-dropdown-content{
    display: none;
    padding: 5px 5px;
    margin-top: 1%;
    overflow: hidden;
    border: solid var(--secondary-color) 2px;
    border-radius: 6px;
    margin: 1% ;
    font-style: none;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    overflow-y: auto; 
    height:400px;
}

.level-selector-dropdown-content-item {
    display: flex;
    justify-content: space-between;
    text-align:center;
    width: auto;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.level-selector-dropdown-content-item a{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    z-index: 1;
}

.dropdown-button{
    color: var(--secondary-color);
    background-color:var(--primary-color);
}

.level-selector-dropdown-content-item:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: solid var(--secondary-color) 2px;
    border-radius: 6px;
}

.level-selector-dropdown-content-item:hover a{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.level-selector-nav:hover .level-selector-dropdown-content{
    display: block;
    /* position: absolute; */
    z-index: 1;
    background-color: var(--primary-color);
}


.level-img-view {
    position: relative;
    width: 60%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    display: block
}